$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
    @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.donor-card-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

    width: 95%;
    margin: 3% auto;
    color: #494d57;

    @include tablet {
        width: 45%;
    }
    @include desktop {
        width: 30%;
        margin: 2% auto;
    }

    .last-donation {
        color: rgba(73, 77, 87, 0.7);
        align-self: flex-end;
        p {
            font-style: italic;
            font-size: 0.8rem;
        }
    }
    .name,
    .department,
    .height,
    .weight,
    .year-of-admin,
    .blood-group {
        font-size: 0.9rem;
        width: 100%;

        p {
            color: rgba(73, 77, 87, 0.7);
            padding: 3px;
            padding-top: 8px;
        }
        div {
            width: 100%;
            background: #f4f4f4;
            border-radius: 5px;
            padding: 10px 20px;
        }
    }
    .name,
    .blood-group,
    .contact {
        div {
            font-weight: 500;
        }
    }

    .body-features,
    .other-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        div {
            &:first-child,
            &:last-child {
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &:first-child {
                padding-right: 6%;
            }
        }
    }

    .contact {
        background: #f4f4f4;
        border-radius: 5px;
        margin-top: 10px;

        @include desktop {
            margin-top: 25px;
        }

        padding: 10px 20px;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            flex: 1;
            text-align: center;
        }
    }
    .button {
        margin: 15px 0;
        padding-top: 8px;
        align-self: flex-end;
        a {
            text-decoration: none;
            color: #494d57;
            cursor: pointer;
            padding: 8px 20px;
            border: 1px solid #6b6b6b;
            box-sizing: border-box;
            border-radius: 6px;

            img {
                padding-right: 10px;
            }
        }
        transition: transform ease-in-out 50ms;
        &:active {
            transform: scale(0.95);
        }
    }
}
