$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
    @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active-card-component {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);

    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
    border-radius: 5px;

    width: 93%;
    margin: 5% auto;
    padding: 5%;

    @include desktop {
        max-width: 40%;
        padding: 3%;
        margin: 2% 0;
    }

    .patient-name-active,
    .bystander-name-active,
    .no-units-active,
    .blood-group-active,
    .donors-assigned-active {
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;

        @include pixel {
            font-size: 0.9rem;
        }
        @include tablet {
            font-size: 0.9rem;
        }
        @include desktop {
            font-size: 0.9rem;
        }
        p {
            color: rgba(73, 77, 87, 0.7);
        }
        div {
            color: #494d57;
            background: #f4f4f4;
            border-radius: 5px;
            width: 100%;
            padding: 10px 20px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .no-units-active,
    .blood-group-active,
    .donors-assigned-active {
        div {
            padding: 15px 20px;
            font-size: 0.9rem;
            @include pixel {
                font-size: 1rem;
            }
            @include tablet {
                font-size: 1rem;
            }
            @include desktop {
                font-size: 1rem;
            }
        }
    }

    .patient-name-active {
        grid-column: 1 / span 10;
        grid-row: 1;
    }
    .bystander-name-active {
        grid-column: 1 / span 10;
        grid-row: 2;
    }
    .no-units-active {
        grid-column: 1 / span 5;
        grid-row: 3;
    }
    .blood-group-active {
        grid-column: 6 / span 5;
        grid-row: 3;
        div {
            color: #941210;
            font-weight: 500;
        }
    }
    .donors-assigned-active {
        grid-column: 1 / span 5;
        grid-row: 4;
    }
    .info-icon-part {
        grid-column: 11 / span 2;
        grid-row: 1;

        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        img {
            cursor: pointer;
            transition: transform ease-in-out 100ms;
        }
        &:active {
            transform: scale(0.9);
        }
    }
    .close-icon-part {
        grid-column: 1 / span 6;
        grid-row: 5;
    }
    .assign-icon-part {
        grid-column: 7 / span 6;
        grid-row: 5;
    }

    .close-icon-part,
    .assign-icon-part {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        span {
            cursor: pointer;

            font-family: 'Poppins', sans-serif;
            font-size: 0.8rem;

            border: 1px solid #6b6b6b;
            border-radius: 6px;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include pixel {
                font-size: 1rem;
            }
            @include tablet {
                font-size: 1rem;
            }
            @include desktop {
                font-size: 1rem;
                padding: 10px 30px;
            }

            img {
                padding-right: 10px;
            }

            transition: transform ease-in-out 50ms;
            &:active {
                transform: scale(0.9);
            }
        }
    }
}
