* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navLink-component-mobile {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navLink-component-mobile img {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0;
  padding-top: 15px;
  padding-right: 15px;
}

@media (min-width: 411px) and (max-width: 767px) {
  .navLink-component-mobile img {
    padding-top: 20px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navLink-component-mobile img {
    padding-top: 25px;
    padding-right: 50px;
  }
}

.navLink-component-mobile ul {
  list-style: none;
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 411px) and (max-width: 767px) {
  .navLink-component-mobile ul {
    margin-top: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navLink-component-mobile ul {
    margin-top: 26px;
  }
}

.navLink-component-mobile ul li {
  margin: 0;
  border-bottom: 1px solid #b1b1b1;
}

.navLink-component-mobile ul li > a,
.navLink-component-mobile ul .logout-link-mobile {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-decoration: none;
  background: #f2f2f2;
  color: #494d57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding: 10px;
  padding-left: 25px;
  position: relative;
}

@media (min-width: 411px) and (max-width: 767px) {
  .navLink-component-mobile ul li > a,
  .navLink-component-mobile ul .logout-link-mobile {
    font-size: 1rem;
    padding: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navLink-component-mobile ul li > a,
  .navLink-component-mobile ul .logout-link-mobile {
    font-size: 1rem;
    padding: 18px;
  }
}

.navLink-component-mobile ul li > a img,
.navLink-component-mobile ul .logout-link-mobile img {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  width: 15px;
}

@media (min-width: 411px) and (max-width: 767px) {
  .navLink-component-mobile ul li > a img,
  .navLink-component-mobile ul .logout-link-mobile img {
    width: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navLink-component-mobile ul li > a img,
  .navLink-component-mobile ul .logout-link-mobile img {
    width: 18px;
  }
}

.navLink-component-mobile ul li > a::before,
.navLink-component-mobile ul .logout-link-mobile::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #8ba654;
}
/*# sourceMappingURL=MobileNavStyle.css.map */