$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
    @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.add-hospital-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
        font-family: 'Poppins', sans-serif;
        color: #494d57;
        width: 95%;
        @include tablet {
            max-width: 450px;
        }
        @include desktop {
            max-width: 500px;
        }

        div {
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
            border-radius: 5px;
            padding: 10px;
            margin: 3% 0;

            p {
                color: rgba(73, 77, 87, 0.7);
                padding: 5px;
                padding-top: 0;
            }
            input,
            textarea {
                background: #f4f4f4;
                width: 100%;
                border-radius: 5px;
                padding: 10px;
                border: none;
                color: #494d57;
                &:focus {
                    border: 1px solid rgb(169, 169, 170);
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            background: none;
            box-shadow: none;

            width: 100%;
            button {
                cursor: pointer;
                background: #6f88e2;
                border-radius: 9px;
                padding: 11px 30px;
                color: #fff;
                outline: none;
                border: none;

                transition: transform ease-in-out 100ms;

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}
